  
  .btn-primary {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
  }
  
  .btn-info {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
  }

  .btn-primary {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
    margin: 10px;
  }
  
  a {
  text-decoration: none;
  color: black;
  }

  .wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.1); */
  }

  .login {
    width: 40%;
    height: 500px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login_id {
    margin-top: 20px;
    width: 80%;
  }

  .login_id input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
  }

  .login_pw {
    margin-top: 20px;
    width: 80%;
  }

  .login_pw input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
  }

  .login_etc {
    padding: 10px 0px;
    width: 80%;
    font-size: 14px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .submit {
    margin-top: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submit input {
  width: 100%;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: #2c3e50;
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
  cursor: pointer;
  } 

  .submit input:hover {
    background-color: #337ab7;
  }